@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
            
                <div class="btn-group" style="padding-top:7px">
                        <button type="button" style="float:left" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Home", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, size = ViewBag.CurrentPageSize })'">Welcome, @User.Identity.GetUserName()</button>                  
                </div>
                    <div class="btn-group" style="padding-top:7px">
                        <button class="btn btn-default" style="float:right" onclick="javascript:document.getElementById('logoutForm').submit()">Log off</button>
                    </div>
              
    }
 }
            
